{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark " id="glacial-navbar">
    <div class="container-fluid">
      <div class="navbar" id="navbar">
        <a class="nav-link active" href="/" id="nav-text">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Option
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href=""  id="nav-text" >Camera</a>
            <a href=""  id="nav-text" >Medical</a>
            <a href=""  id="nav-text" >Construction</a>
          </div>
      </div>  
    </div>
       <div class="center">
        <div class="logocenter ">
          <img src="{% static 'images/carapace2AI-removebg-preview.png' %}" width="300" height="60">   
        </div>
       </div>
 
     <div class="navbarright">
      <a class="nav-link active" href="/" id="nav-text">Log In</a>  
    </div>    
    </div>

</nav>
